*{
    width: auto;
    padding: auto;
}
.formulario{
    height: auto;
    margin: 20px;
    padding: 10px 30px;
}

.formulario h2{
    font-family: 'Righteous';
    font-size: 36px;
    color: #F1C40F;
}
textarea {
    resize: none;
}
#contacto{
    background-color: #ffffff;
    letter-spacing: 2px;
    }
 
.boton {
    background: #F1C40F;
    color: #FFF;
}
  @media (min-width: 992px) {
    #contacto{padding-bottom: 200px;}
  
     #contacto .maps iframe{
       width: 100%;
       height: 550px;
     }
  }
